.header{
   display: flex;
   justify-content: space-between;
   background-color: #222;
   padding: 1em;
}

nav{
   display: flex;
   align-items: center;
}

.list{
   list-style: none;
   display: flex;
   gap: 1em;
}

.list a{
   padding: .5em;
   color: #FFF;
   text-decoration: none;
}

.list a:hover{
   color: #ffbb33;
}

